/* /====================================/ */
/* /====================================/ */
/* характеристика и описание */
.description__text,
.description__text-chart2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* /====================================/ */
/* /====================================/ */
