/* /====================================/ */
/* /====================================/ */
/* таблица характеристик и производительности */
.compare {
    width: 100%;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #888888;
}
.table__row:hover {
    background: #F2F2F2;
}       
.table__head-data {
    text-align: center;
    padding: 10px;
    border: 1px solid #888888;
}
.table__data {
    text-align: start;
    padding: 10px;
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
}
/* /====================================/ */
/* /====================================/ */
