.conteiner {
    margin: 0;
    height: 100vh;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
}

.block__part {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}