/* /====================================/ */
/* /====================================/ */
/* панелька покупки */
.buy {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.price {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.price__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price__value {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.price__old {
    text-decoration-line: line-through;
    color: #888888;
}
.price__discount {
    background: #F36223;
    border-radius: 10px;
    color: #FFFFFF;
}
.price__new {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
.price__like {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}
.price__like:hover svg path:first-child {
    fill: #FF5722;
}
.price__like:active svg path:first-child {
    fill: #A93A09;
}
.price__export {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}
.btn-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    border: 0;
    background: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.btn-buy:hover {
    cursor: pointer;
    background-color: #DA4A0C;
}
.btn-buy::before {
    content: " ";
    height: 24px;
    width: 24px;
    background-image: url(/public/resources/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.btn-buy:active {
    background: #A93A09;
}
.btn-buy_unlock,
.btn-buy_unlock:hover,
.btn-buy_unlock:active {
    background: #888888;
}
/* /====================================/ */
/* /====================================/ */
