/* /====================================/ */
/* /====================================/ */
/* Отзывы */
.review {
    display: flex;
    gap: 30px;
}
.review__photo {
    height: 140px;
}
.review__text {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}
.review__name {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px; 
}
.review__star {
    display: flex;
    height: 30px;
}
/* /====================================/ */
/* .review__star-img {
    height: 30px;
} */
/* /====================================/ */
.review__experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 710px;
}
.review__text-part {
    font-size: 14px;
    line-height: 17px;
}
/* /====================================/ */
/* /====================================/ */
