/* /====================================/ */
/* /====================================/ */
/* список и характеристика*/
.feature__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
    padding-inline-start: 0;
    list-style-type: none;
}
.feature__list-item::before {
    content: "\25CF";
    margin-right: 10px;
    color: #888888;
}
.feature__list-item span::after {
    content: ", ";
}
.feature__list-item span:last-child::after {
    content: "";
}
/* /====================================/ */
/* /====================================/ */
