/* /====================================/ */
/* /====================================/ */
/* навигация */
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.page__navigation {
    margin-bottom: 6px;
    padding-top: 90px;
}
.navigation__link {
    display: flex;
    gap: 4px;
}
/* /====================================/ */
/* /====================================/ */