/* /====================================/ */
.titlle-logo {
    display: flex;
    gap: 6px;
}
.titlle-logo__img {
    width: 36.5px;
    height: 43px;
}
.titlle-logo__text {
    flex: 1 0 0;

    line-height: 53px;
    font-weight: 700;
    font-size: 44px;

    color: black;
}
.titlle-logo__word {
        color: #FF5722;
}
/* /====================================/ */