/* /====================================/ */
/* /====================================/ */
/* заголовок товара */
.product-title__name {
    padding-bottom: 20px;
}
.product-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-header__header {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
} 
.product-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 387px;
}
.product-images img {
    max-height: 387px;
}
.product-title__images {
    margin-bottom: 30px;
    margin-top: 10px;
}
/* /====================================/ */
/* /====================================/ */