/* /====================================/ */
/* /====================================/ */
  /* медиа запрсы*/
@media (min-width: 1500px){
    .container {
        max-width: 1400px;
    }
}
@media (max-width: 1499px) {
    .container {
        margin: 0 15px;
    }
    .product-images {
        height: 272px;
    }
    .compare {
        display: none;
    }
    .spec-and-bar {
        gap: 40px;
    }
    .bar {
        width: 360px;
    }
    .form__fildset {
        padding: 0;
    }
    .review__experience {
        width: 464px;
    }
    .review__photo {
        height: 100px;
    }
    .review__star {
        height: 20px;
    }
    .separator {
        margin-left: 130px;
    }
}
@media (max-width: 1024px){
    .page {
        margin: 0;
        /* min-width: 1024px */
    }
    .container {
        max-width: 994px;
    }
    .product-images {
        overflow: auto;
    }
    .color-panel__box {
        flex-wrap: wrap;
    }
}
@media (max-width: 710px){
    .navigation {
        flex-wrap: wrap;
    }
    .spec-and-bar {
        flex-direction: column-reverse;
    }
    .fraim {
        display: none;
    }
    .bar {
        width: 345px;
    }
    .review__experience {
        width: 100%;
    }
    .form__imput {
        flex-wrap: wrap;
        gap: 15px;
    }
    .input-wrapper__valid {
        z-index: 50;
    }
    .footer__box {
        flex-direction: column;
        align-items: flex-start;
    }
    .separator {
        margin-left: 0;
    }
    .input-wrapper__input-grade {
        width: 155px;
    } 
    .footer__info a {
        white-space: nowrap;
    }
}
@media (max-width: 440px){
    .logo__img {
        width: 23.76px;
        height: 30px;
    }
    .logo__text {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }
    .icon svg {
        width: 30px;
        height: 30px;
    }
    .icon__counter {
        top: -4px;
        right: -6px;
    }
    .icon__counter-number {
        font-weight: 900;
        font-size: 8px;
        line-height: 10px;
    }
    .form__imput {
        flex-direction: column;
    }
    .input-wrapper__input-grade {
        width: 100%;
    } 
    .review {
        flex-direction: column;
    }
    .review__photo {
        position: absolute;
        height: 60px;
        width: 60px;
    }
    .review__header {
        padding-left: 75px;
    }
    .review__experience {
        width: 335px;
    }
    .footer__br {
        display: none;
    }
}
@media (max-width: 360px){
    .page {
        /* margin: 0 10px; */
        min-width: 360px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    .page h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }
    .container {
        max-width: 340px;
    }
    .product-header__header {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    .bar {
        width: 100%;
    }
    .btn-buy {
        padding: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .color-panel__box {
        gap: 7px;
    }
    .image-color {
        width: 60px;
        height: 60px;
    }
    .comments__header {
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 24px !important; 
    } 
    .form__text,
    .input-wrapper__input,
    .input-wrapper__input-grade {
        padding: 10px 15px;
  
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    .input-wrapper__input-grade::placeholder,
    .input-wrapper__input::placeholder,
    .form__text::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    .input-wrapper__valid {
        padding: 8px 20px;
    
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        top: 40px;
    }
    .form__btn {
        padding: 10px 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .form__fildset {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        gap: 15px;
    }
}
/* /====================================/ */
/* /====================================/ */