/* /====================================/ */
/* /====================================/ */
/* комменты */
.item__comments {
    margin-top: 50px;
}
.comments {
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
}
.comments__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.comments__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.comments__counter {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
    flex-grow: 1;
}
.comments__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.separator {
    border-top: 1px dashed #888888;
    margin-left: 170px;
}
/* /====================================/ */
/* /====================================/ */