/* /====================================/ */
/* /====================================/ */
/* форма */
.comments__form {
    margin-top: 35px;
}
.form__fildset {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 170px;
    border: 0;
}
.form__header {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.form__imput {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 15px;
}
/* /====================================/ */
/* /====================================/ */
/* Блок импут */
.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}
.input-wrapper__input {
    padding: 15px 20px 15px 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.input-wrapper__input-grade {
    padding: 15px 20px 15px 20px;
    width: 175px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.input-wrapper__valid{
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    padding: 8px 20px;
    background: #DA4A0C;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.input-wrapper__input_border_color {
    border: 1px solid #DA4A0C;
}
.input-wrapper_fix-flex  {
    flex: 0 0 0;
}
.form__text {
    height: 190px;
    width: 100%;
    padding: 15px 0 0 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    resize: none;
}
.input-wrapper__input-grade::placeholder,
.input-wrapper__input::placeholder,
.form__text::placeholder {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}
.input-wrapper__input-grade:focus,
.input-wrapper__input:focus,
.form__text:focus {
    outline: 1px solid #000000;
    border-radius: 1px;
}
.input-wrapper__input-grade:hover,
.input-wrapper__input:hover,
.form__text:hover {
    border: 1px solid #000000;
    border-radius: 1px;
}
.form__btn {
    padding: 10px 20px;
    border: 0;
    background: #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.form__btn:hover {
    background: #DA4A0C;
}
/* /====================================/ */
/* /====================================/ */