/* /====================================/ */
/* /====================================/ */
.main-index {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 215px);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.main-index__text {
    padding-top: 140px;
}
@media (min-width: 420px) {
    .main-index__breck2 {
        display: none;
    }
}
@media (max-width: 420px) {
    .main-index__breck {
        display: none;
    }
}
/* /====================================/ */
/* /====================================/ */