/* /====================================/ */
/* хедер */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;

    background: #F2F2F2; 
    border-bottom: 2px solid #888888;   
}
/* /====================================/ */
/* лого */
.logo {
    display: flex;
    align-items: center;
    height: 80px;
}
.logo__all-elem {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 6.5px;
    gap: 6px;
    width: 100%;
}
.logo__icon {
    display: flex;
    gap: 20px;
}
/* /====================================/ */
/* корзина */
.icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.icon svg path {
    fill: #F36223;
}
.icon__counter {
    position: absolute;
    top: -6px;
    right: -8px;

    text-align: end;
}
.icon__counter_block_off {
    display: none;
}
.icon__counter-number {
    font-weight: 500;
    font-size: 13px;
    height: 17px;
    text-align: center;
    width: 20px;
    color: #ffffff;
    background-color: #FFFFFF;
    background-color: #F36223;
    border-radius: 10px;
}
/* /====================================/ */