/* /====================================/ */
/* /====================================/ */
/* блок характеристик и сайдбара */
.spec-and-bar {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
/* /====================================/ */
/* /====================================/ */
/* боксы характеристик */
.spec-all {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    flex-grow: 1;
}
/* /====================================/ */
/* /====================================/ */
/* моидиикация блока для заголовков */
.spec-all_header_font h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
/* /====================================/ */
/* /====================================/ */
/* рекламный и ценовой блок */
.bar {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-shrink: 0;
}
/* /====================================/ */
/* /====================================/ */
