/* /====================================/ */
/* подвал сайта*/
.footer {
    background: #F2F2F2;
    border-top: 2px solid #888888;
}
.page__footer {
    margin-top: 100px;
}
.footer__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__info {
    padding: 30px 0;
    
    font-size: 14px;
    line-height: 17px;
}
.footer__anchor {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.footer__word {  
    color: #FF5722;
}
/* /====================================/ */