/* /====================================/ */
/* /====================================/ */
/* блок рекламы */
.fraim {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fraim__headr {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}
.fraim__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ad {
    border: 1px dashed #888888;
    height: 300px;
}
/* /====================================/ */
/* /====================================/ */
