/* /====================================/ */
/* /====================================/ */
/* выбор памяти устройства*/
.memory {
    width: 298px;
    height: 73px;
}
.memory__btnBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.btnMemory { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: #F8FAFE;
    font-size: 16px;
    font-weight: 500;   
}
.btn-memory:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}
.btn-memory:active {
    border: 2px solid #A93A09;
    background-color: #F8FAFE;
}
.btnMemory_selectItem_color {
    border: 2px solid #F36223 !important;
}
/* /====================================/ */
/* /====================================/ */
